# scrollback service file
#
# copy:
#	pkg-config --variable systemdsystemunitdir systemd
#	usually /usr/lib/systemd/system
# enable:
# 	systemctl start/enable scrollback

[Unit]
Description=Scrollback Keys

[Service]
ExecStart=/usr/bin/scrollback -k
Type=oneshot

[Install]
WantedBy=default.target
