# load the scrollback keys mapping
#
# copy:
#	pkg-config --variable systemdsystemunitdir systemd
#	usually /usr/lib/systemd/system
# enable:
#	91-scrollback.rules -> /usr/lib/udev/rules.d

[Unit]
Description=Scrollback Keys

[Service]
ExecStart=/usr/bin/scrollback -k
Type=oneshot

[Install]
WantedBy=default.target

